
  <ion-content [fullscreen]="true" class="ion-padding">
   
    <ion-slides pager="true" [options]="slideOptsOne" (ionSlidesDidLoad)="onSlideLoad()"  (ionSlideDidChange)="slideChanged(s.audio)" #slides>
        <ion-slide *ngFor="let s of sliderOne.slidesItems;let i as index">
                      <!-- Playback section -->
                      <div text-center>
                        <!-- File name -->
                        <br>
                        
                        <br>
                    
                        <!-- avatar -->
                        <div style="display: flex; justify-content: center; align-items: center;">
                          <img src="{{s.icon}}"  style="width: 80%; " />
                        </div>
                        <br>
                    
                        <!-- control bar -->
                        <div>
                          <ion-range min="0" max="{{duration}}" [(ngModel)]="position">
                            <!--  [disabled]="is_in_play && is_playing"  -->
                            <ion-label slot="start">{{ position*1000 | date:'mm:ss' }}</ion-label>
                            <ion-label slot="end" *ngIf="duration == -1">--:--</ion-label>
                            <ion-label slot="end" *ngIf="duration != -1">{{ duration*1000 | date:'mm:ss' }}</ion-label>
                          </ion-range>
                        </div>
                        <br>
                        <ion-grid>
                          <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
                          
                            <ion-col>
                              <!-- Backwards -->
                              <ion-fab-button class="skip-btn" color="primary" (click)="prev()" >
                                &nbsp;&nbsp;<ion-icon name="play-back" ></ion-icon>&nbsp;&nbsp;
                              </ion-fab-button>
                            </ion-col>
                            <ion-col>
                              <!-- Play/Pause -->
                              <ion-fab-button class="play-pause-btn"  (click)="play(s.audio,i)" color="primary" >
                                <ion-icon name="play"></ion-icon>
                              </ion-fab-button>
                    
                            </ion-col>
                          
                            <ion-col>
                              <!-- Forwards -->
                              <ion-fab-button class="skip-btn" color="success"  (click)="next(s.audio);" >
                                &nbsp;&nbsp;<ion-icon name="play-forward"  ></ion-icon>&nbsp;&nbsp;
                              </ion-fab-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                    
                      </div>
        </ion-slide>
      </ion-slides>
    </ion-content>
